/* Login.css */
.login-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: auto;
  }
  
  .login-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #e20e0e;
  }
  
  .google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
  }
  
  .google-button:hover {
    background-color: #f1f1f1;
  }
  
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
  }
  
  .divider span {
    flex: 1;
    height: 1px;
    background-color: #ddd;
    margin: 0 10px;
  }
  
  .signup-text {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  
  .signup-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-text a:hover {
    text-decoration: underline;
  }
  