/* Footer container */
.footer {
    background: black;  /* Changed to Black */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
  }
  
  .footer a {
    color: #f4a261;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #e76f51;
  }
  