.sell-car-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.sell-car-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.file-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  flex: 1;
}

.preview-image {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.preview-image:hover {
  transform: scale(1.05);
}

.icon-button {
  background-color: #ffffff;
  border: none;
  padding: 8px;
  width: 230px;             /* Set a fixed width for a square shape */
  height: 230px;            /* Set a fixed height for a square shape */
  border-radius: 10px;      /* Slightly rounded corners for a modern look */
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid black;
}

.icon-button:hover {
  background-color: #e0e0e0;
}

.icon-button svg {
  color: #000000;
}

.submit-button {
  background-color: #ff0000;
  font-size: medium;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 50px;
}

.submit-button:hover {
  background-color: #e20e0e;
}
.horizontal{
  display: flex;
}
.vertical{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content:initial;
  padding: 0px 20px 0px 10px;
  gap: 10px;
}
.vertical input{
  flex: 1;
  width: 100%;
  border:1px solid black;
}
textarea{
  resize: none;
  height: 100px;
  font-size: 18px;
  border:1px solid black;
  border-radius: 10px

}